.hm-cell {
  fill: #f4f4f4;
  stroke: #d2d2d2;
  stroke-width: 1px;
}

.hm-cell-run {
  fill: color-mix(in oklch, #0f6500 calc(var(--intensity) * 100%), #adff9a);
  stroke: #0f65005e;
}

.hm-cell-ride {
  fill: color-mix(in oklch, #0006bb calc(var(--intensity) * 100%), #9497ff);
  stroke: #0006bbb9;
}
